/* Footer styling */
footer {
  width: 100%;
  padding: 50px 0;
  background: var(--color-darkish);
}

.footer-container {
  display: flex;
  justify-content: center;
}

/* .footer-container {
  width: 100%;
  max-width: 1500px;
} */

.footer-links {
  display: flex;
  margin-right: 20px;
}

.footer-link {
  margin-right: 75px;
  color: #fff;
  padding: 0 50px;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li {
  margin-top: 10px;
}

.footer-links ul li a {
  color: var(--color-gray);
  text-decoration: none;
}

.footer-links ul li a:hover,
.footer-links ul li a:focus {
  color: #fff;
}

.social-links {
  margin-top: 40px;
  padding: 0 50px;
}

.social-links a {
  text-decoration: none;
}

.social-links i {
  color: var(--color-gray);
  font-size: 1.5rem;
  margin-right: 5px;
}

.social-links i:hover {
  color: #fff;
}

/* Media query */
@media (max-width: 750px) {
  footer {
    padding: 50px 50x;
  }

  .footer-link {
    margin-bottom: 35px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  .social-links {
    margin-top: 0px;
  }
}

@media (max-width: 400px) {
  footer {
    padding: 50px 25px;
  }

  .footer-link {
    padding: 0 0;
  }

  .social-links {
    padding: 0 0;
  }
}
