/* Footer styling */
footer {
  width: 100%;
  padding: 3em 0;
  background: var(--color-darkish);
}

.footer-links {
  display: flex;
  margin-right: 1.2em;
}

.footer-link {
  margin-right: 5em;
  color: #fff;
  padding: 0 3em;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li {
  margin-top: 0.7em;
}

.footer-links ul li a {
  color: var(--color-gray);
  text-decoration: none;
}

.footer-links ul li a:hover,
.footer-links ul li a:focus {
  color: #fff;
}

.social-links {
  margin-top: 2.2em;
  padding: 0 3em;
}

.social-links a {
  text-decoration: none;
}

.social-links i {
  color: var(--color-gray);
  font-size: 1.5em;
  margin-right: 0.3em;
}

.social-links i:hover {
  color: #fff;
}

/* Media query */
/* @media (max-width: 750px) {
  footer {
    padding: 50px 50x;
  }

  .footer-link {
    margin-bottom: 35px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  .social-links {
    margin-top: 0px;
  }
} */
@media (max-width: 830px) {
  .footer-link {
    margin-left: 0em;
    padding-bottom: 1.5em;
  }

  .footer-links {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  footer {
    font-size: 10px;
  }
}
