@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@300&family=Oswald&family=Roboto&display=swap");

:root {
  --color-dark: rgb(32, 32, 32);
  --color-red: rgb(248, 69, 69);
  --color-dark-red: rgb(255, 70, 70);
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  min-height: 100vh;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1500px;

  position: relative;
}
