/* Products styling */
#product-h2 {
  margin-top: 7em;
  padding-left: 1.5em;

  font-size: 2em;
}

.products {
  margin: 3em 0 7em 0;
  padding: 0 3em;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2em;
}

#products {
  scroll-margin-top: 7em;
}

.card {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2),
    0 0.3em 1.2em 0 rgba(0, 0, 0, 0.19);
  transition: all 150ms ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.2em;

  cursor: pointer;
}

.card:hover {
  transform: scale(1.01);
}

.product img {
  width: 100%;
  padding: 1.7em;
}

.shoe-info {
  margin: 0 0 1em 1em;
}

.shoe-name {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.3em;
}

/* Media query */
@media (max-width: 750px) {
  .products {
    padding: 0 7em;
  }

  #product-h2 {
    padding-left: 3.4em;
  }
}

@media (max-width: 550px) {
  .products {
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));

    padding: 0 2em;
  }

  .product {
    margin: 0;
  }

  #product-h2 {
    padding-left: 1em;
    margin-top: 3em;
  }
}
