/* Products styling */
#product-h2 {
  margin-top: 100px;
  padding-left: 50px;

  font-size: 2rem;
}

.products {
  min-height: 100vh;
  margin: 50px 0 100px 0;
  padding: 0 50px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 35px;
}

#products {
  scroll-margin-top: 100px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 150ms ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;

  cursor: pointer;
}

.card:hover {
  transform: scale(1.01);
}

.product img {
  width: 100%;
  padding: 25px;

  /* border-bottom: 2px solid var(--color-dark); */
}

.shoe-info {
  margin: 0 0 15px 15px;
}

.shoe-name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 5px;
}
